@use "@/styles/variables" as *;
@use "@/styles/mixins" as m;

.header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border-bottom: 1px solid var(--crimson);

  @include m.main_container;

  @media (min-width: $screen-768) {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media (min-width: $screen-1024) {
    padding-top: 56px;
    padding-bottom: 56px;
    border-bottom: none;
  }
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;

    @media (min-width: $screen-1024) {
      gap: 24px;
      font-size: 20px;
    }
}

.header_nav_divider {
  width: 2px;
  height: 12px;
  background-color: var(--black);

    @media (min-width: $screen-1024) {
      width: 3px;
      height: 18px;
    }
}

.header_nav_link {
  &__active {
    color: var(--crimson);
    cursor: initial;
  }

  &__inactive {
    @include m.interactable;
  }

  &__disabled {
    opacity: .3;
    pointer-events: none;
  }
}
