@use "@/styles/mixins" as m;

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans, system-ui), sans-serif;
  background-color: var(--background);
  
  @include m.main_text;

  & code, pre {
    font-family: var(--font-mono, monospace);
  }
}
