.main {
  display: flex;
  flex-grow: 1;
  gap: 8vw;
  padding: 8vw;
  background-color: var(--background);
}

.main_content {
  /* width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 24px; */
}

.main_title {
  font-size: 60px;
  font-weight: 900;
}

.main_image {
  display: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}
