:root {
  --background: #E5E5E5;
  --black: #373737;
  --crimson: #C24A4A;

  --min-horizontal-padding-sm: 20px;
  --min-horizontal-padding-md: 40px;
  --min-horizontal-padding-lg: 120px;
}

.highlighted {
  color: var(--crimson);
}
